<article class="post">
    <div class="title">
        <h2><a href="/post/{{id}}">{{title}}</a> <span>(created by {{user.username}} on {{format_date created_at}})</span></h2>
        <p>{{post_text}}</p>
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
        {{votes.length}} {{format_plural "like" votes.length}} 
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>