<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google fonts CDN -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat&family=Nothing+You+Could+Do&family=Raleway:wght@200;400;700&family=Shadows+Into+Light&family=Special+Elite&family=Unica+One&display=swap"
    rel="stylesheet">

  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/79ab8d8fde.js" crossorigin="anonymous"></script>

  <!-- tailwinds css -->
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="/assets/images/guide 16pxl.png" />
  <title>Coding Bootcamp Suvival Guide</title>
</head>

<body class="bg-indigo-900">

  <nav class="bg-indigo-900 h-auto">
    <div class=" mx-auto px-2 sm:px-6 lg:px-8 bg-gray-800 pb-3">
      <div class="relative flex items-center justify-between h-16 bg-gray-800">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden bg-gray-800">
          <!-- Mobile menu button-->
          <button type="button"
            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white bg-gray-800"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
              Heroicon name: outline/menu
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.
              Heroicon name: outline/x
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start bg-gray-800">
          <div class="flex-shrink-0 flex items-center bg-gray-800 justify-around">
            <img src="/assets/images/guide 32pxl.png" alt="logo" class="p-2" />
            <span class="gloria_font text-gray-100 text-3xl py-2">Coding Bootcamp Survival Guide</span>
          </div>
          <div class="hidden sm:block sm:ml-6 bg-gray-800">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page"><i
                  class="fas fa-home text-2xl"></i></a>

              <a href="/category/pick-camp"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pick a
                Camp</a>

              <a href="/category/pre-course"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pre-Course
                Help</a>

              <a href="/category/tools"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tools
                & Cheatsheets</a>

              <a href="/category/frontend"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Front-End
                Design</a>

              <a href="/category/backend"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Back-End
                Design</a>

              <a href="/category/self-care"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Self
                Care</a>

              <a href="/category/finish-line"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Finish
                Line!</a>

            </div>
          </div>
        </div>


        <!-- Profile dropdown -->
         <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 bg-gray-800">     
          <!-- Profile dropdown -->
          <div class="ml-3 relative bg-gray-800">
            <div>
              <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" @click="open = !open" id="user-menu" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                {{#if loggedIn}}
                  <img class="h-8 w-8 rounded-full" src="{{profilePic}}" alt="User Profile">
                {{else}}
                  <img class="h-8 w-8 rounded-full" src="/assets/images/user.png" alt="User Profile">
                {{/if}}
              </button>
            </div>
            <!--
              Dropdown menu, show/hide based on menu state.
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div id="drop-down" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              {{#if loggedIn}}
                {{#if isAdmin}}
                <a href="/dashboard/admin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem">Your Profile</a>
                <a href="/dashboard/new" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                  role="menuitem">Create a New Post</a>
                {{else}}
                <a href="/dashboard" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your
                  Profile</a>
                {{/if}}
                  <button id='logout' class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign
                    out</button>
                {{else}}
                  <a href="/login" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign
                    in</a>
              {{/if}}
            </div>
          </div>
        </div>
        {{!-- END Profile drop down --}}

      </div>
    </div>
  </nav>

  <!-- end nav bar -->

  <main>
    {{{ body }}}
  </main>
  {{!-- <footer>
    <button class="toggle-dark-light">Dark/Light</button>
  </footer> --}}

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/navbar.js"></script>
    {{!--
    <script src="/javascript/dark-mode.js"></script> --}}
  {{/if}}
</body>

</html>